body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.catty {
  text-decoration: dotted;
  border: 3px dashed red;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 100px;
  width: 100px;
  display: flex;
  color: blueviolet;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}